*{
color:#fff;
box-sizing:border-box
}

body{
margin:0;
background-color:#070510;
background-image:url(/bg.png);
background-repeat:repeat;
animation:bg-scrolling-reverse .92s infinite linear
}

@keyframes bg-scrolling-reverse{
100%{background-position:50px 50px}
}

:root{
--main:#ffcc99;
--secondary:hsl(222 13% 75%)
}

::placeholder{
color:white!important
}

.main-container{
width:100%;
max-width:900px;
margin:auto;
padding:20px
}

.heading{
text-align:center;
margin-top:60px
}

.forms{
width:100%;
margin:auto;
margin-top:30px;
padding:25px;
background:#121212;
border-radius:10px
}

.container{
width:100%
}

.field{
width:100%;
margin:35px 0;
display:flex;
flex-direction:column;
position:relative
}

.label{
margin-bottom:8px;
font-weight:500
}

.main-container input,
.main-container textarea{
width:100%;
height:3rem;
padding-left:1rem;
padding-right:1rem;
font-size:.875rem;
border:none;
border-radius:.5rem;
background-color:#ffffff0d
}

.main-container input:focus,
.main-container textarea:focus{
outline:2px solid var(--main);
outline-offset:2px
}

.form-select{
width:100%;
height:3rem;
padding-left:1rem;
padding-right:2.5rem;
border:none;
border-radius:.5rem;
background-color:#ffffff0d;
font-weight:600;
cursor:pointer;
appearance:none;
background-image:linear-gradient(45deg,transparent 50%,currentColor 50%),linear-gradient(135deg,currentColor 50%,transparent 50%);
background-position:calc(100% - 20px) calc(1px + 50%),calc(100% - 16px) calc(1px + 50%);
background-size:4px 4px,4px 4px;
background-repeat:no-repeat
}

.form-select:focus{
outline:2px solid var(--main);
outline-offset:2px
}

.form-select *{
background:#070510;
color:white
}

.submit{
width:100%;
height:50px;
border:none;
background:black;
border-radius:5px;
color:#fff;
border:2px solid #ffcc99;
cursor:pointer;
font-size:18px;
font-weight:500;
letter-spacing:1px;
text-transform:uppercase;
transition:.4s
}

.submit:hover{
background:#ffcc99;
color:#fff
}

.video-details img{
width:100%;
max-width:320px;
border-radius:8px
}

.custom-alert{
position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);
padding:16px 24px;
background:linear-gradient(135deg,#181335,#333);
border-radius:8px;
box-shadow:0 4px 15px rgba(0,0,0,.2);
z-index:1000;
text-align:center;
font-size:16px;
width:90%;
max-width:300px;
opacity:0;
transition:opacity .3s ease,transform .3s ease
}

.custom-alert.show{
opacity:1;
transform:translateX(-50%) translateY(0)
}

.custom-alert.hide{
opacity:0;
transform:translateX(-50%) translateY(-20px)
}

@media (max-width:768px){

h1{
font-size:2.5rem!important
}

.main-container{
padding:15px
}

.forms{
padding:20px
}

.video-details{
width:100%;
overflow-x:auto;
overflow-y:hidden;
-webkit-overflow-scrolling:touch
}

.video-details a{
min-width: 500px;
display:flex
}

.video-details img{
width:auto;
max-width:100%;
height:auto;
border-radius:8px
}

}
